<h1 align=center><font size = 5>Chicago: Exploring Schools, Crime, & Socioeconomic Indicators With SQL</font></h1>

# Objectives

1. Understand 3 Chicago datasets  
1. Load the 3 datasets into 3 tables in a Db2 database
1. Execute SQL queries related to the Datasets

## About the Data
The following three datasets will be used and are available on the city of Chicago's Data Portal:
1. <a href="https://data.cityofchicago.org/Health-Human-Services/Census-Data-Selected-socioeconomic-indicators-in-C/kn9c-c2s2">Socioeconomic Indicators in Chicago</a>
1. <a href="https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t">Chicago Public Schools</a>
1. <a href="https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2">Chicago Crime Data</a>

### 1. Socioeconomic Indicators in Chicago
This dataset contains a selection of six socioeconomic indicators of public health significance and a “hardship index,” for each Chicago community area, for the years 2008 – 2012.

A snapshot of this dataset will be used which can be downloaded from:
https://ibm.box.com/shared/static/05c3415cbfbtfnr2fx4atenb2sd361ze.csv

A detailed description of this dataset and the original dataset can be obtained from the Chicago Data Portal at:
https://data.cityofchicago.org/Health-Human-Services/Census-Data-Selected-socioeconomic-indicators-in-C/kn9c-c2s2


### 2. Chicago Public Schools

This dataset shows all school level performance data used to create CPS School Report Cards for the 2011-2012 school year. This dataset is provided by the city of Chicago's Data Portal.

A snapshot of this dataset will be used which can be downloaded from:
https://ibm.box.com/shared/static/f9gjvj1gjmxxzycdhplzt01qtz0s7ew7.csv

A detailed description of this dataset and the original dataset can be obtained from the Chicago Data Portal at:
https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t


### 3. Chicago Crime Data 

This dataset reflects reported incidents of crime (with the exception of murders where data exists for each victim) that occurred in the City of Chicago from 2001 to present, minus the most recent seven days. 

This dataset is quite large - over 1.5GB in size with over 6.5 million rows. A snapshot of this dataset will be used which can be downloaded from:
https://ibm.box.com/shared/static/svflyugsr9zbqy5bmowgswqemfpm1x7f.csv

A detailed description of this dataset and the original dataset can be obtained from the Chicago Data Portal at:
https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2

### Connecting to the database 
Loading the SQL extension and establish a connection with the DB2 database where these datasets have been uploaded too.

In [7]:
%%capture
!pip install ipython-sql

In [8]:
%load_ext sql

In [9]:
# %sql ibm_db_sa://my-username:my-password@my-hostname:my-port/my-db-name
%sql ibm_db_sa://xch49725:w4k%2Bdjpqw9kv5gms@dashdb-txn-sbox-yp-dal09-08.services.dal.bluemix.net:50000/BLUDB

##### The total number of crimes recorded in the CRIME table

In [10]:
# Rows in Crime table
%sql SELECT COUNT(*) AS TOTAL_NUMBER_CRIMES FROM CHICAGO_CRIME_DATA;

 * ibm_db_sa://xch49725:***@dashdb-txn-sbox-yp-dal09-08.services.dal.bluemix.net:50000/BLUDB
Done.

[(Decimal('533'),)]

##### Retrieving the first 10 rows from the CRIME table

In [11]:
%sql SELECT * FROM CHICAGO_CRIME_DATA LIMIT 10;

 * ibm_db_sa://xch49725:***@dashdb-txn-sbox-yp-dal09-08.services.dal.bluemix.net:50000/BLUDB
Done.

[(3512276, 'HK587712', datetime.datetime(2004, 8, 28, 17, 50, 56), '047XX S KEDZIE AVE', '890', 'THEFT', 'FROM BUILDING', 'SMALL RETAIL STORE', 'FALSE', 'FALSE', 911, 9, 14, 58, '6', 1155838, 1873050, 2004, datetime.datetime(2018, 2, 10, 15, 50, 1), Decimal('41.80744050'), Decimal('-87.70395585'), '(41.8074405, -87.703955849)'),
 (3406613, 'HK456306', datetime.datetime(2004, 6, 26, 12, 40), '009XX N CENTRAL PARK AVE', '820', 'THEFT', '$500 AND UNDER', 'OTHER', 'FALSE', 'FALSE', 1112, 11, 27, 23, '6', 1152206, 1906127, 2004, datetime.datetime(2018, 2, 28, 15, 56, 25), Decimal('41.89827996'), Decimal('-87.71640551'), '(41.898279962, -87.716405505)'),
 (8002131, 'HT233595', datetime.datetime(2011, 4, 4, 5, 45), '043XX S WABASH AVE', '820', 'THEFT', '$500 AND UNDER', 'NURSING HOME/RETIREMENT HOME', 'FALSE', 'FALSE', 221, 2, 3, 38, '6', 1177436, 1876313, 2011, datetime.datetime(2018, 2, 10, 15, 50, 1), Decimal('41.81593313'), Decimal('-87.62464213'), '(41.815933131, -87.624642127)'),
 (7903289, 'HT133522', datetime.datetime(2010, 12, 30, 16, 30), '083XX S KINGSTON AVE', '840', 'THEFT', 'FINANCIAL ID THEFT: OVER $300', 'RESIDENCE', 'FALSE', 'FALSE', 423, 4, 7, 46, '6', 1194622, 1850125, 2010, datetime.datetime(2018, 2, 10, 15, 50, 1), Decimal('41.74366532'), Decimal('-87.56246276'), '(41.743665322, -87.562462756)'),
 (10402076, 'HZ138551', datetime.datetime(2016, 2, 2, 19, 30), '033XX W 66TH ST', '820', 'THEFT', '$500 AND UNDER', 'ALLEY', 'FALSE', 'FALSE', 831, 8, 15, 66, '6', 1155240, 1860661, 2016, datetime.datetime(2018, 2, 10, 15, 50, 1), Decimal('41.77345530'), Decimal('-87.70648047'), '(41.773455295, -87.706480471)'),
 (7732712, 'HS540106', datetime.datetime(2010, 9, 29, 7, 59), '006XX W CHICAGO AVE', '810', 'THEFT', 'OVER $500', 'PARKING LOT/GARAGE(NON.RESID.)', 'FALSE', 'FALSE', 1323, 12, 27, 24, '6', 1171668, 1905607, 2010, datetime.datetime(2018, 2, 10, 15, 50, 1), Decimal('41.89644677'), Decimal('-87.64493868'), '(41.896446772, -87.644938678)'),
 (10769475, 'HZ534771', datetime.datetime(2016, 11, 30, 1, 15), '050XX N KEDZIE AVE', '810', 'THEFT', 'OVER $500', 'STREET', 'FALSE', 'FALSE', 1713, 17, 33, 14, '6', 1154133, 1933314, 2016, datetime.datetime(2018, 2, 10, 15, 50, 1), Decimal('41.97284491'), Decimal('-87.70860008'), '(41.972844913, -87.708600079)'),
 (4494340, 'HL793243', datetime.datetime(2005, 12, 16, 16, 45), '005XX E PERSHING RD', '860', 'THEFT', 'RETAIL THEFT', 'GROCERY FOOD STORE', 'TRUE', 'FALSE', 213, 2, 3, 38, '6', 1180448, 1879234, 2005, datetime.datetime(2018, 2, 28, 15, 56, 25), Decimal('41.82387989'), Decimal('-87.61350386'), '(41.823879885, -87.613503857)'),
 (3778925, 'HL149610', datetime.datetime(2005, 1, 28, 17, 0), '100XX S WASHTENAW AVE', '810', 'THEFT', 'OVER $500', 'STREET', 'FALSE', 'FALSE', 2211, 22, 19, 72, '6', 1160129, 1838040, 2005, datetime.datetime(2018, 2, 28, 15, 56, 25), Decimal('41.71128051'), Decimal('-87.68917910'), '(41.711280513, -87.689179097)'),
 (3324217, 'HK361551', datetime.datetime(2004, 5, 13, 14, 15), '033XX W BELMONT AVE', '820', 'THEFT', '$500 AND UNDER', 'SMALL RETAIL STORE', 'FALSE', 'FALSE', 1733, 17, 35, 21, '6', 1153590, 1921084, 2004, datetime.datetime(2018, 2, 28, 15, 56, 25), Decimal('41.93929582'), Decimal('-87.71092344'), '(41.939295821, -87.710923442)')]

##### Number of crimes involving an arrest

In [12]:
%%sql 
SELECT COUNT(ID) AS CRIME_WITH_ARREST
FROM CHICAGO_CRIME_DATA
WHERE ARREST = 'TRUE';

 * ibm_db_sa://xch49725:***@dashdb-txn-sbox-yp-dal09-08.services.dal.bluemix.net:50000/BLUDB
Done.

[(Decimal('163'),)]

##### Unique types of crimes that have been recorded at gas stations

In [13]:
%%sql
SELECT DISTINCT(PRIMARY_TYPE), LOCATION_DESCRIPTION
FROM CHICAGO_CRIME_DATA
WHERE LOCATION_DESCRIPTION = 'GAS STATION';

 * ibm_db_sa://xch49725:***@dashdb-txn-sbox-yp-dal09-08.services.dal.bluemix.net:50000/BLUDB
Done.

[('CRIMINAL TRESPASS', 'GAS STATION'),
 ('NARCOTICS', 'GAS STATION'),
 ('ROBBERY', 'GAS STATION'),
 ('THEFT', 'GAS STATION')]

##### Listing all Community Areas whose names start with the letter ‘B’  In the CENUS_DATA table

In [14]:
%%sql
SELECT COMMUNITY_AREA_NAME
FROM CENSUS_DATA
WHERE COMMUNITY_AREA_NAME LIKE 'B%' ;

 * ibm_db_sa://xch49725:***@dashdb-txn-sbox-yp-dal09-08.services.dal.bluemix.net:50000/BLUDB
Done.

[('Belmont Cragin',),
 ('Burnside',),
 ('Brighton Park',),
 ('Bridgeport',),
 ('Beverly',)]

##### Schools in Community Areas 10 to 15 that are healthy school certified.

In [15]:
%%sql
SELECT NAME_OF_SCHOOL, COMMUNITY_AREA_NUMBER, HEALTHY_SCHOOL_CERTIFIED
FROM CHICAGO_PUBLIC_SCHOOLS
WHERE HEALTHY_SCHOOL_CERTIFIED = 'Yes' AND (COMMUNITY_AREA_NUMBER BETWEEN 10 AND 15);

 * ibm_db_sa://xch49725:***@dashdb-txn-sbox-yp-dal09-08.services.dal.bluemix.net:50000/BLUDB
Done.

[('Rufus M Hitch Elementary School', 10, 'Yes')]

##### The average school Safety Score

In [16]:
%%sql
SELECT AVG(SAFETY_SCORE) AS AVERAGE_SCHOOL_SAFETY_SCORE
FROM CHICAGO_PUBLIC_SCHOOLS ;

 * ibm_db_sa://xch49725:***@dashdb-txn-sbox-yp-dal09-08.services.dal.bluemix.net:50000/BLUDB
Done.

[(Decimal('49.504873'),)]

##### The top 5 Community Areas by average College Enrollment [number of students]

In [17]:
%%sql
SELECT COMMUNITY_AREA_NAME, AVG(COLLEGE_ENROLLMENT) AS AVERAGE_COLLEGE_ENROLLMENT
FROM CHICAGO_PUBLIC_SCHOOLS
GROUP BY COMMUNITY_AREA_NAME
ORDER BY AVERAGE_COLLEGE_ENROLLMENT DESC
FETCH FIRST 5 ROWS ONLY ;

 * ibm_db_sa://xch49725:***@dashdb-txn-sbox-yp-dal09-08.services.dal.bluemix.net:50000/BLUDB
Done.

[('ARCHER HEIGHTS', Decimal('2411.500000')),
 ('MONTCLARE', Decimal('1317.000000')),
 ('WEST ELSDON', Decimal('1233.333333')),
 ('BRIGHTON PARK', Decimal('1205.875000')),
 ('BELMONT CRAGIN', Decimal('1198.833333'))]

##### Determining which Community Area has the least value for school Safety Score

In [18]:
%%sql
SELECT COMMUNITY_AREA_NAME, SAFETY_SCORE
FROM CHICAGO_PUBLIC_SCHOOLS
WHERE SAFETY_SCORE = (SELECT MIN(SAFETY_SCORE) FROM CHICAGO_PUBLIC_SCHOOLS) ;

 * ibm_db_sa://xch49725:***@dashdb-txn-sbox-yp-dal09-08.services.dal.bluemix.net:50000/BLUDB
Done.

[('WASHINGTON PARK', 1)]

##### Per Capita Income of the Community Area which has a school Safety Score of 1

In [19]:
%%sql
SELECT CD.COMMUNITY_AREA_NAME, CD.PER_CAPITA_INCOME, CPS.SAFETY_SCORE
FROM CENSUS_DATA AS CD, CHICAGO_PUBLIC_SCHOOLS AS CPS
WHERE CD.COMMUNITY_AREA_NUMBER = CPS.COMMUNITY_AREA_NUMBER
AND CPS.SAFETY_SCORE = 1;

 * ibm_db_sa://xch49725:***@dashdb-txn-sbox-yp-dal09-08.services.dal.bluemix.net:50000/BLUDB
Done.

[('Washington Park', 13785, 1)]